/*Main Webpage Container*/
/*.main-box{
  padding-left: 0px;
  padding-right: 0px;
}*/



/*NAVBAR STYLES*/

  .navbar{
    /* Created with https://www.css-gradient.com */
    background: #000000;
    background: -webkit-linear-gradient(left, #000000, #FF0000);
    background: -moz-linear-gradient(left, #000000, #FF0000);
    background: linear-gradient(to right, #000000, #FF0000);
  }

  .navbar-heading a{
    font-family: museomoderno;
    font-weight:lighter;
    color: #fff;
    
  }

  .navbar-heading a:hover{
    color: #ff0000;
  }



  .navbar-brand{
    font-size: 30px !important;
    font-family: museomoderno;

  }



  .ali-icon img{
  width: 57px;
  padding: 0px;
  margin: 0px;
  }

  .navbar-toggler{
    color: #fff;
  }

  .btn-outline-success{
    background: #000;
    border-color: #fff;
    border-width: 1.5px;
    
    color:#fff;
    font-family: museomoderno;
  }

  .btn-outline-success:hover{
    border-color: #fff;
    background: none;
  }

  .srch-input{
    font-family: museomoderno;
    border-radius: 50px;
    background: #fff;
    border-width: 2px;
    color: #000;

  }

  .srch-input::placeholder{
    color: #6c757d;
  }

  .srch-input:focus{
    
    box-shadow: none;
  }

  .bi-caret-down-fill{
    font-size: 37px;
  }
/*NAVBAR STYLES Ends*/



/* Created with https://www.css-gradient.com */
/*background: #000000;
background: -webkit-linear-gradient(left, #000000, #FF0000);
background: -moz-linear-gradient(left, #000000, #FF0000);
background: linear-gradient(to right, #000000, #FF0000);*/



/*HEADER STYLES*/
.ali-name{
  font-size: 37px;
  text-align: center;
  font-weight: bold;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "museomoderno", Helvetica, Arial, sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 700;
  
}

.intro-txt{
  margin-top: 3rem;
}


header {
  height: 100vh;
  /*background-image: url(https://images.unsplash.com/photo-1540397106260-e24a507a08ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=761&q=80);*/
  background: url("../img/web_dev_bg.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: #fff;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

header p {
  font-size: 30px;
  margin: 0;
  text-align: center;-tile
}

/*HEADER STYLES END*/



/*PROJECT STYLES START*/

.project-heading{
  font-family: museomoderno;
  color: #fff;
  text-align: center;
}

.projects-bg{
    background: #000000;
    background: -webkit-linear-gradient(left, #000000, #FF0000);
    background: -moz-linear-gradient(left, #000000, #FF0000);
    background: linear-gradient(to right, #000000, #FF0000);
}

.project-tab1{
  /*background-image: url('img/fruits_narmada_agri.png');
  background-size: cover;*/
  height: 190px;
    width: 100%;

}




.projects-row{
  margin-left: 50px;
  margin-right: 50px;
}


.project-tab-txt{
  font-family: 'museomoderno thin';
  text-align: center;
  font-size: 20px;
  color: #fff;
}

/*PROJECT STYLES END*/


/*ABOUT CODE START*/
.skill-body {
  width: 100%;
  height: 100vh;
  /*background: #262626;*/  
  /*background: url("img/about_bg_image.jpg");*/
  background-image:linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.9)), 
  url("../img/about_bg_image_lap..jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  margin-left: 0px;
  margin-right: 0px;
  
  

}

.skills-box {
  /*padding: 10px;*/
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill {
  width: 100%;
  margin: 10px 0;
}

.title-skills {
  color: #fff;
  font-weight: 700;
  font-family:museomoderno;
}

.txt-skills{
  color: #fff;
  font-size: 15px;
  font-weight: 370;
  font-family: museomoderno;
}

.progress-bar {
  background: #404040;
  border-radius: 3px;
  width: 100%;
  height: 15px;
  margin-top: 5px;
/*   overflow: hidden; */
}





/*New Code */
.skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(255, 255, 255, .2),rgba(255, 255, 255, .5));
  border-radius: 10px;
/*  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);*/
}

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  font-family: museomoderno;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
/*  color: #07374a;*/
  color: #fff;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
/*  background: #f0f0f0;*/
  background: #9fa6a1;
/*  background: #bec4c0;*/
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
/*  background: #25b79f;*/
  background: #ff0000;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transfrom = uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;

  font-family: museomoderno;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 60%;
}
.progress-line .javascript {
  width: 60%;
}
.progress-line .photoshop {
  width: 70%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
/*  top: -28px;*/
  top: -37px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "60%";
}
.progress-line .javascript::after {
  content: "60%";
}
.progress-line .photoshop::after {
  content: "70%";
}

/* ////........Media Query........//// */

@media (max-width: 700px) {
    .skills{
        width: 80%;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }

/*    .skills-txt{
      font-size: 10px;
    }*/
}      

/*ABOUT CODE END*/

/*CONTACT STYLE START*/
.contact{
  cursor: pointer;
/*  background-color: #6B062D;*/
  /* Created with https://www.css-gradient.com */
    background: #000000;
    background: -webkit-linear-gradient(left, #000000, #FF0000);
    background: -moz-linear-gradient(left, #000000, #FF0000);
    background: linear-gradient(to right, #000000, #FF0000);
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 30px;
}
.contact h1 {
  padding: 10px 0;
  margin-bottom: 20px;
}
.contact h2 {
  opacity: .8;
}
.contact span {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin:auto;
  border-radius:50%;  
  font-size: 40px;
  color: #FFFFFF;
  opacity: 0.7;
/*  background-color: #4C0822;*/
  background: #000;
/*  border: 2px solid #4C0822;*/
  border: 2px solid #fff;

  webkit-transition:all .5s ease;
  moz-transition:all .5s ease;
  os-transition:all .5s ease;
  transition:all .5s ease;

}
.contact-item:hover span{
  opacity: 1; 
/*  border: 2px solid #CC0039;*/
  border: 2px solid #fff;
  font-size: 42px;
  -webkit-transform: scale(1.1,1.1) rotate(360deg) ;
  -moz-transform: scale(1.1,1.1) rotate(360deg) ;
  -o-transform: scale(1.1,1.1) rotate(360deg) ;
  transform: scale(1.1,1.1) rotate(360deg) ;
}
.contact-item:hover h2{
  opacity: 1;
  -webkit-transform: scale(1.1,1.1)  ;
  -moz-transform: scale(1.1,1.1)  ;
  -o-transform: scale(1.1,1.1)  ;
  transform: scale(1.1,1.1) ;
}
.contact .lead{
  color: #CC0039;
  font-size: 14px;
  font-weight: bold;
}

.contact-lnks{
  color: #fff;
  font-family: museomoderno;
}

.contact-lnks:hover{
  color: #fff;
  text-decoration: none;
}

.contact-header{
  color: #fff;
  font-family: museomoderno;
}
 
/*CONTACT STYLE END*/



/*FOOTER STYLES*/

footer{
  background: #343a40;

}


.icon-facebook{
  border-radius: 100px;
  border:none;
  width: 36px;
  background: #4267B2;
}


.icon-instagram{
  border-radius: 100px;
  border:none;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

  font-weight: bold;
}

.icon-linkedin{
  border-radius: 100px;
  border:none;
  background: #0077B5;
}

.copyright-text{
  background-color: rgba(0, 0, 0, 1);
}
/*FOOTER STYLES END*/